.home
  &__wrapper

    &:before,
    &:after 
      content: ''
      height: 35rem
      left: 0
      position: absolute
      width: 100%
      z-index: 1

    &:before 
      background: linear-gradient(to bottom, $color-primary 5%, rgba($color-primary, 0) 85%)
      top: 0

    &:after 
      background: linear-gradient(to top, $color-primary 5%, rgba($color-primary, 0) 85%)
      bottom: 0

.home__gallery__media
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6)
    padding-top: 2rem
    