extends ../base.pug

block variables
  - var template = 'home'

block content
  .home.bg-primary
    .home__wrapper.h-screen
      .relative.isolate.px-6.z-50.flex.items-center.h-full(class='lg:px-8')
        .mx-auto.max-w-2xl.py-32(class='sm:py-48 lg:py-56')
          .text-center
            h1.text-4xl.font-bold.tracking-tight.text-white(class='sm:text-6xl')=home.data.title
            p.mt-6.text-lg.leading-8.text-white=home.data.description

      .home__gallery.absolute.left-0.top-0.w-full.h-full.grid.grid-cols-6.gap-6.h-auto
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image.img-cover.opacity-0(alt=media.image.alt data-src=media.image.url)
