extends ../base.pug

block variables
  - var template = 'home'

block content
  .home.bg-primary
    .home__wrapper.h-screen
      .relative.isolate.px-6.z-30.flex.items-center.h-full(class='lg:px-8')
        .mx-auto.max-w-2xl.py-32(class='sm:py-48 lg:py-56')
          .text-center
            h1.text-4xl.font-bold.tracking-tight.text-white(class='sm:text-6xl')=home.data.title
            p.mt-6.text-lg.leading-8.text-white=home.data.description

      .home__gallery.absolute.left-0.top-0.w-full.grid.grid-cols-2.gap-5.h-auto(class="lg:grid-cols-4 lg:gap-8")
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image.img-cover.opacity-0.max-h-200(alt=media.image.alt data-src=media.image.url)

      .home__button.absolute.z-50(class="left-1/2 transform -translate-x-1/2 bottom-20")
        button.py-5.px-8.border-white.border-solid.border.text-xl.font-medium(class="transition-all ease-in-out duration-500 hover:bg-white hover:text-primary ") Find my watch combo
      
      .home__result.p-5.bg-white.z-40.absolute.rounded.shadow.w-full.max-w-2xl.opacity-0(class="transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2")
        .text-center.text-2xl.text-primary.font-bold Your watch combo
        ul.watch__name-list.grid.grid-cols-2.gap-5.pt-5
        ul.watch__image-list.grid.grid-cols-2.gap-5.rounded.pt-5
        